<% layout('layout') -%>
<div class="container">
    <h2><%= title %></h2>
    <p>A simple todo list.</p>

    <ul>
    <% todos.forEach(function(todo){ %>
        <li>
            <% if(todo._id == current){ %>
            <form action="/todo/edit/<%= todo._id %>" method="post" accept-charset="utf-8" class="form-inline">
                <input type="text" name="content" value="<%= todo.content %>" placeholder="Edit todo..." required/>
                <a href="/todo" class="btn">Cancel</a>
                <button type="submit" class="btn btn-warning">Edit</button>
            </form>
            <% }else{ %>
            <%= todo.content %>
            <span> &middot; <a href="/todo/edit/<%= todo._id %>" title="Edit this todo item"><i class="icon-edit"></i>Edit</a></span>
            <span> &middot; <a href="/todo/delete/<%= todo._id %>" title="Delete this todo item"><i class="icon-remove"></i>Delete</a></span>
            <% } %>
        </li>
    <% }); %>
    </ul>

    <form action="/todo/add" method="post" accept-charset="utf-8" class="form-inline">
        <input type="text" name="content" placeholder="Todo..." required/>
        <button type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i>Add</button>
    </form>
</div>